.fontChange {
  font-family: "Roboto", sans-serif;
}
.removeFLex {
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.homeTitle {
  font-family: "Comfortaa Variable", system-ui;
}
.homedefination {
  font-family: "Quicksand Variable", sans-serif;
}
