.fontChange {
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #15161a;
}
.removeFLex {
  flex-wrap: nowrap;

  background-color: #15161a;
}
.homeTitle {
  font-family: "IBM Plex Sans", sans-serif;
}
.homedefination {
  font-family: "Quicksand Variable", sans-serif;
}
.iPadShowKeyboard {
  display: none;
}
.gradient {
  background: linear-gradient(
    0deg,
    #222f4a 0%,
    rgba(14, 15, 17, 1) 72%,
    rgba(3, 6, 7, 1) 88%
  );
}
.stacks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  min-height: 170px;
}
.editor-wrapper .monaco-editor,
.editor-wrapper .overflow-guard {
  border-radius: 10px;
}
